{{#each this}}
    <h2 class='country__title'>{{this.title}}</h2>
    <ul class="country__list">
        <li class="country__item"></li>
        <li class="country__item"></li>
        <li class="country__item"></li>
    </ul>
    
    <p class='posts__text'>{{this.body}}</p>
    <p class='posts__id'>id: {{this.id}}</p>

{{/each}}